.menuBtn{
    background-color: #F4F5F7;
    border: none;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menuButtonIcon{
    width: 30px;
    height: 30px;
}